[nlopes]
[user]
    name = Norberto Lopes
    email = nlopes.ml@gmail.com
    signingkey = 2173CBE9

[github]
    user = nlopes
    token = THAT_WOULD_BE_PRICELESS_WOULDN'T_IT?

[core]
    editor = emacs

[color]
    ui = auto

[alias]
    pullr = pull --rebase
    st = status
    d = diff
    s = stash
    us = stash pop
    rl = reflog
    r = rebase
    ri = rebase -i
    ll = log --pretty=oneline --abbrev-commit --graph
    lg = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%ci) %C(bold blue)<%an>%Creset' --abbrev-commit --date=relative --all
    dw = diff --word-diff

[push]
    default = current

[url "git@github.com:"]
    insteadOf = https://github.com/
