[nlopes]
[user]
    name = Norberto Lopes
    email = nlopes.ml@gmail.com
    signingkey = 2173CBE9

[github]
    user = nlopes
    token = THAT_WOULD_BE_PRICELESS_WOULDN'T_IT?

[core]
    editor = emacs

[color]
    ui = auto

[alias]
    pullr = pull --rebase
    st = status
    d = diff
    s = stash
    sp = stash pop
    co = checkout
    rl = reflog
    r = rebase
    ri = rebase -i
    ll = log --pretty=oneline --abbrev-commit --graph
    lg = log --graph --abbrev-commit --decorate --format=format:'%C(bold blue)%h%C(reset) - %C(bold green)(%ar)%C(reset)%C(bold yellow)%d%C(reset)%n          %C(bold white)%s%C(reset) %C(dim white)- %an%C(reset)' --all
    dw = diff --word-diff
    prune-local = !git branch --merged | tr -d '*' | grep -v dev | xargs -n1 git branch -d

[push]
    default = current

[url "git@github.com:"]
    insteadOf = https://github.com/

[branch]
	autosetuprebase = always
